.fileupload {
  margin: 5em auto;
  padding: 5em 0 5em;
  text-align: center;
  color: rgba(255,255,255,0.3);
  border: 2pt dashed rgba(255,255,255,0.2);
  transition: border-color 0.8s, color 0.8s;
  border-radius: 10pt;
}

@media all and (min-width: 1000px) {
  .fileupload {
    max-width: 80%;
  }
}
@media all and (max-width: 1000px) {
  .fileupload {
    max-width: 800px;
  }
}

.fileupload h1,
.fileupload p {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: default;

  transition: color 0.4s;
}

.fileupload.dragging {
  border-color: rgba(255,255,255,0.8);
  transition: border-color 0.4s;
}
.fileupload.dragging h1,
.fileupload.dragging p {
  color: rgba(255,255,255,0.9);
  transition: color 0.4s;
}

.fileupload .uploadlist {
  max-width: 75%;
  margin: 0 auto 0;
  text-align: left;
}

.fileupload .uploadlist ul {
  list-style: none;
  padding: 0;
}

.fileupload .uploadlist li {
  position: relative;
}

.fileupload .uploadlist li > .remove,
.fileupload .uploadlist .main-container .filename {
  margin-right: 0.5em;
}

.fileupload .uploadlist .filename {
  display: inline-block;
  color: rgba(255,255,255,0.8);
  padding: 0 0.5em 0;
}

.fileupload .uploadlist .filesize {
  display: inline-block;
}
.fileupload .uploadlist .filesize::before { content: "("; }
.fileupload .uploadlist .filesize::after { content: ")"; }

.fileupload .uploadlist .fa {
  transition: color 0.4s;
}
.fileupload .uploadlist .upload:hover {
  color: green;
  transition: color 0.2s;
}
.fileupload .uploadlist .remove:hover {
  color: rgba(255,80,80,0.8);
  transition: color 0.2s;
}

.fileupload .uploadlist .uploading {
  color: lightblue;
}

.fileupload .uploadlist .uploadspeed {
  margin-left: 0.5em;
}

.fileupload .uploadlist .percent::before {
  content: ", ";
}
.fileupload .uploadlist .filename {
  position: relative;
}
.fileupload .uploadlist .filename .progress {
  position: absolute;
  top: -0.09em;
  left: 0;
  height: 100%;
  background-color: rgba(0, 102, 153, 0.4);
  border: 0;
  border-radius: 2pt;
  z-index: -1;
}

.fileupload .uploadlist .main-container {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 2em);
}

/* Upload status */

.fileupload .uploadlist .upload-status {
  color: rgba(255,255,255,0.5);
  font-size: 0.8em;
}

.fileupload .uploadlist .main-container .upload-status > div {
  display: inline-block;
  vertical-align: top;
  max-width: calc(100% - 2.125em);
}

.fileupload .uploadlist .upload-status .fa {
  padding: 0 0.5em 0 0.625em;
  max-width: 1em;
}

.fileupload .uploadlist .partial-upload .upload-status .new,
.fileupload .uploadlist .partial-upload .upload-status .replace {
  text-decoration: underline;
}

/* Icon colors */

.fileupload .uploadlist .upload-status .fa.fa-check {
  color: rgba(0,204,0,0.7);
}
.fileupload .uploadlist .upload-status .fa.fa-upload,
.fileupload .uploadlist .upload-status .fa.fa-circle-o-notch,
.fileupload .uploadlist .upload-status .fa.fa-repeat {
  color: rgba(0, 153, 204, 0.9);
}
.fileupload .uploadlist .upload-status .fa.fa-exclamation {
  color: rgba(204,0,0,0.7);
  font-size: 1.1em;
}
